.heading{
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}

.heart-icon {
  right: 10px;
}

.imw{
  width: 65%;
  position: relative;
}
.product{
  margin: 0;
  margin-top: 30px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 9;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.ccc:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.cc1{
  width: 82%;
  background: #fff;
  color: #000;
  padding: 4px 8px;
  border: 1px solid #000;
  height: 40px;
  border-radius: 7px;
}
.card{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
@media only screen and (max-width: 553px) {
  .card{
      margin-top: 25px;
  }

  .row {
    --bs-gutter-x: 0 !important;
  }

  .product {
    padding: 0 !important;
  }
}







/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

.inherited-styles-for-exported-element {
  font-family: CerebriSans-Regular, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 100%;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.boton {
  border: 1px solid #eee;
  border-radius: 50px;
  box-shadow: rgba(0, 12, 32, .04) 0 0 1px 0, rgba(10, 31, 68, .1) 0 3px 4px 0;
  height: 50px;
  line-height: 50px;
  margin-top: .7em;
  padding: 0 25px;
  text-decoration: none;
  will-change: transform;
}

.demo-boton {
  cursor: pointer;
  display: none;
  transition: all 200ms;
  transition-behavior: normal;
}

@media screen and (min-width: 350px) {
  .demo-boton {
    display: inline-block;
  }
}

.boton svg {
  margin-right: .5em;
}

.demo-boton:hover {
  background-color: #afe6c3;
  transform: scale(1.05);
}

.demo-boton.second {
  background-color: #10316b;
  color: #fff;
  margin-left: 0;
}

.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}
