/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
body{
    /*
    background-attachment: fixed;
    background-size: cover;
     background-image: url("https://d2p0bx8wfdkjkb.cloudfront.net/static/properties/TBCZYOYRXE/M9O3IRQ7R3/dnHhvJnfVK/2b3889fa-453f-4352-a98a-ba2563424788.jpeg");
    */
    background-color: #f2f7ff;
    font-family: 'Quicksand', sans-serif;
}

.nav-container {
    box-sizing: border-box;
    margin: 0 40px;
}

.container-alquileres {
    box-sizing: border-box;
    margin: 0 40px
}

.card-container {
    max-width: 300px;
    width: 300px;
}

.padd{
    padding-top: 10rem;
    
}


/* FILTER STYLE */

#minPriceSliderInfo {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 0;
    padding: 4px 8px;
    margin: 0;
}

#maxPriceSliderInfo {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 0;
    padding: 4px 8px;
    margin: 0;
}

.texto-amarillo{
    color: #fdbe34;
}

.azul-oscuro{
    color: #10316b;
}

.borde-azul-oscuro{
    border-color: #10316b;
}

.bg-azul-oscuro{
    background-color: #0b409c;
}

.bg-azul-oscuro:hover {
    background-color: #10316b;
}

.bg-celeste-claro{
    background-color: #f2f7ff;
    opacity: 1;
}
.duenio{
    display: contents;
    
    color: black;
}
.registro{
    font-size: smaller;
    color: gray;
}
.detalle{
    color: gray;
    font-size: smaller;
}
.disponible{
    color: gray;
    text-decoration:underline;
}
.cuerpo{
    justify-content: center;
}

@media all and (max-width: 1300px) {

}

@media all and (max-width: 900px) {

    .nav-container {
        margin: 0 20px;
    }

    .container-alquileres {
        margin: 0 20px;
    }
}


@media all and (max-width: 640px) {
    .hero-image {
        height: 200px !important;
    }

    .nav-container {
        margin: 0 8px;
    }


    .container-alquileres {
        margin: 0 8px;
    }
}


.linea-amarilla {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FDBE34; /* Color amarillo */
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration: underline;
  }
  
 

